/*
  You can use import statements to include partials:
 */
@import 'imports/reset.css';

/*
  Or add your statements here:
 */
body {
  font-size: calc(10px + 1vmin);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
/*
  align-items: center;
  justify-content: center;
  text-align: center;
*/
  background-color: #407738;
  color: white;
  margin-top: 32px;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 32px;
}

a {
  color: #afeccd;
  text-decoration: none;
}

.content {
  padding: 0 32px;
}

p {
  text-align: left;
  align-items: left;

}

li {
  text-align: left;
  align-items: left;
  padding: 0px 0px 0px 32px;
}

h2 {
  color: #b1c4a6;
  text-decoration: none;
}
