{{ define "main" }}
{{ template "_internal/google_analytics.html" . }}
<center><img src="{{.Params.shopimage}}" width="65%" height="65%"></center>
<br/>
<center><img src="{{.Params.image}}" width="85%" height="85%"></center>

<!-- <center><h1>{{.Title}}</h1> -->

<p>Please <a href="http://www.hambledonsurrey.co.uk/?p=14866">see here</a> for information about how the shop intends to operate from Monday 21st June. For current operations see below.</p>

<p>TheShop is currently open 7 days a week from 8:30am to 2:00pm for personal shopping. The cafe/deli is open 7 days a week from 8:30am to 1:30pm.</p>
	
<p>Customers are currently not allowed to enter the shop but can place orders from outside the front of the shop. We politely request that all customers wear face coverings in the vicinity of the shop and maintain a safe distance at all times.</p>

<p>See below for information on the personal shopping service, the shop's delivery service and Post Office hours. The Shop is currently accepting card payments only.</p>

<center><h2>Personal Shopping</h2></center>

<p>Available 7 days a week from 8:30am to 2:00pm. Come to the shop, tell us what you'd like and we'll get the items for you. Sorry, we can't allow you inside the shop at the moment.</p>

<center><h2>Delivery Service</h2></center>

<p>The shop continues to operate a delivery service. Please follow the instructions below. The delivery service operates within a 2-mile radius of the shop Monday through Friday.</p>

<p><a href="{{ "https://drive.google.com/file/d/1fPDeE9WAew1fXwr7l5d360Ben4N3jwCw/edit" | relURL }}">Information about the products available from the shop can be found by clicking here.</a></p>

<p>If you’d like to receive updates from the shop, <a href="{{ "https://hambledonsurrey.us11.list-manage.com/subscribe?u=07d41733bf9ccb8efb6ff34f9&id=6e204b9876" | relURL }}">subscribe to our mailing list by clicking here.</a></p>


<p>The process for placing orders for delivery is as follows:</p>
<li>Place your order by email to <a href="mailto:shoporders@hambledonsurrey.co.uk">shoporders@hambledonsurrey.co.uk</a>. Only call us if you must,
the shop number is 01428 682176</li>
<li>Orders received before 10am will be delivered the same day</li>
<li>Orders received after 10am will be delivered on following delivery day</li>
<li>If you’re able to place your order the previous evening, that’s great for us – it gives us more
time to get organised for the day ahead</li>
<li>Include your address and phone number with every order - even if you've ordered before</li>
<li>Whilst we understand you may not know our prices, we would ask that you attempt to
place an order with a minimum value of £10</li>
<li>Payment should not be made on delivery. Someone from the shop will call you to take a
card payment over the phone</li>
<p>Please note:</p>
<li>There is no charge for delivery but please try to spend £10 or more</li>
<li>We cannot hold onto orders for delivery later in the week - orders received before 11am
will be delivered the same day</li>
<li>We will attempt to substitute for products which are out of stock. If you’d prefer us not to
make substitutions, please indicate this in your order</li>
<li>We are unable to offer delivery time slots – deliveries are clustered together
geographically to optimise the number of journeys</li>
<li>We apologise for not responding to emails personally but we are very busy and very much
appreciate your business and messages of support</li>

<center><h2>Post Office</h2></center>
Currently, limited services are available from the Post Office at the shop between 9:30am and 12:30pm on Monday through Saturday.

<center><h2>Take Away Food and Drinks</h2></center>
<p>We are offering a limited takeaway food service Monday through Friday from 8:30am to 1:30pm consisting of drinks, sandwiches, sausage rolls and cakes. Crisps, confectionary and soft drinks can also be purchased as part of a take away order or to eat at our picnic tables.</p>

<p>The menu will be limited, with the following options:</p>

<u>Food</u>
<br>
<li>Sandwiches and Toasties on white or granary bread</li>
<li>Baguettes and Baps (white and wholemeal)</li>
<li>Wraps</li>
<li>Fillings: cheese, ham, bacon, BLT, salami, sausage, tuna</li>
<li>With or without salad: lettuce, cucumber, onion, tomato</li>
<li>With or without: brown sauce, ketchup, mayo, mustard, pickle</li>
<br>
<u>Drinks</u>
<br>
<li>Coffee - Americano, Caffe Latte, Cappuccino, Flat White, Hot chocolate, Mocha</li>
<li>Tea</li>

<br>
<br>

{{ end }}
