{{ define "main" }}
{{ template "_internal/google_analytics.html" . }}
<center><img src="{{.Params.image}}" width="85%" height="85%"></center>

<!-- <center><h1>{{.Title}}</h1> -->

<center><h2>Delivery Service</h2></center>

<p>The shop is only operating a delivery service at this time. Please follow the instructions below. The delivery service operates within a 2-mile radius of the shop on weekdays only (Monday, Tuesday, Wednesday, Thursday and Friday). There is no delivery service on Saturday or Sunday.</p>

<p><a href="{{ "https://drive.google.com/file/d/1fPDeE9WAew1fXwr7l5d360Ben4N3jwCw/edit" | relURL }}">Information about the products available from the shop can be found by clicking here</a></p>


<p>The process for placing orders for delivery is as follows:</p>
<li>place your order by email to <a href="mailto:shoporders@hambledonsurrey.co.uk">shoporders@hambledonsurrey.co.uk</a>. Only call us if you must,
the shop number is 01428 682176</li>
<li>orders received before 11am will be delivered the same day</li>
<li>orders received after 11am will be delivered the following day</li>
<li>if you’re able to place your order the previous evening, that’s great for us – it gives us more
time to get organised for the day ahead</li>
<li>include your address and phone number with every order - even if you've ordered before</li>
<li>whilst we understand you may not know our prices, we would ask that you attempt to
place an order with a minimum value of £10</li>
<li>payment should not be made on delivery. Someone from the shop will call you to take a
card payment over the phone</li>
<p>Please note:</p>
<li>There is no charge for delivery but please try to spend £10 or more</li>
<li>We cannot hold onto orders for delivery later in the week - orders received before 11am
will be delivered the same day</li>
<li>We will attempt to substitute for products which are out of stock. If you’d prefer us not to
make substitutions, please indicate this in your order</li>
<li>We are unable to offer delivery time slots – deliveries are clustered together
geographically to optimise the number of journeys</li>
<li>We apologise for not responding to emails personally but we are very busy and very much
appreciate your business and messages of support</li>

<center><h2>Post Office</h2></center>
Currently, limited services are available from the Post Office at the shop between 9:30am and 12:30pm on Wednesdays and Fridays only.

<center><h2>Take Away</h2></center>
<p>We are offering a limited takeaway service on weekdays (Mon-Fri) from 09:00-12:30 consisting of drinks, sandwiches, sausage rolls and cakes. Crisps, confectionary and soft drinks can also be purchased as part of a take away order. Takeaway food and drink must be taken away and cannot be consumed on the premises, which includes the shop benches, picnic tables, forecourt, drive and surrounding grassy area.</p>

<p>The menu will be limited initially with the following options:</p>

<u>Food</u>
<br>
<li>Sandwiches and Toasties on white or granary bread</li>
<li>Baguettes and Baps (white and wholemeal)</li>
<li>Wraps</li>
<li>Fillings: cheese, ham, bacon, BLT, salami, sausage, tuna</li>
<li>With or without salad: lettuce, cucumber, onion, tomato</li>
<li>With or without: brown sauce, ketchup, mayo, mustard, pickle</li>
<br>
<u>Drinks</u>
<br>
<li>Coffee - Americano, Caffe Latte, Cappuccino, Flat White, Hot chocolate, Mocha</li>
<li>Tea</li>

<br>
<br>

{{ end }}
